body,html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
* {
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: url('../assets/img/plasterBackground_black.jpg');
  background-size: cover;
  height: 100vh;
  max-height: 100%;
}

app-title-block {
  flex: 3;
}

app-graphic {
  flex: 2;
  align-self: flex-end;
  height: calc(50vh + 48px);
}