body,html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
* {
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: url('../assets/img/background.jpg');
  background-size: cover;
  height: 100vh;
  max-height: 100%;
  font-family: 'Courier New', Courier, monospace;
}

app-title-block {
  flex: 5;
  z-index: 1;
  padding-left: 16vw;
}

app-graphic {
  flex: 4;
  align-self: flex-end;
  height: calc(50vh + 48px);
  z-index: 1;
}

app-canvas-background {
  z-index: 0;
}

@media screen and (max-width: 640px) {
  .app {
    flex-direction: column;
  }
  
  app-title-block {
    flex: 2;
    padding: 100px 0 0 0;
  }
  
  app-graphic {
    flex: 3;
    align-self: center;
  }
}