.app {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-image: url('../assets/img/plasterBackground_black.jpg');
  width: 100vw;
  height: 100vh;
}
app-title-block {
  flex: 1;
}

app-graphic {
  flex: 1;
  align-self: flex-end;
  height: calc(50vh + 48px);
}

